*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}

h1{
  font-family: courier;
  background: lightskyblue;
  color: chocolate;
}
.subheading{
  font-size: 80%;
  background-color: orange;
  color: white;
}

.content{
  background-color: khaki;
  font-family: courier;
}

.flexible{
  display: flex;
}

#another{
  margin-top: 3000px;
  margin-bottom: 800px;
  background-color: white;
}

.heart{
  color: crimson;
}